*{
    /* outline: 2px solid greenyellow; */
    box-sizing: border-box;
}

body{
    height: 100vh;
    /* overflow-y:hidden; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.buttons{
    display: flex;
    gap: 6px;
    justify-content: center;
}

.generate{
    padding: 6px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 800;
}

.generate:hover{
    background-color: lightgray;
}

.reset:hover{
    background-color: lightgray;
}


.reset{
    padding: 6px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 800;
}

.box {
    flex-shrink: 0;
    border: 1px solid rgba(199, 198, 198, 0.651); 
}
