*{
    outline: 2px solid greenyellow;
    box-sizing: border-box;
}

body{
    height: 100vh;
    /* overflow-y:hidden; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* gap: 1vh; */ 
    /* justify-content:space-evenly; */
    /* height: 680px; */
    /* width: 680px; */
    /* padding: 1vh; */
}

.box {
    /* width: calc(100% / 16); */
    /* height: calc(100% / 16); */
    flex-shrink: 0;
    border: 1px solid white;
    box-sizing: border-box;
}
